<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header th:text ="${followerNum}"> 팔로워
</header>
<tr th:each = "follower: ${followerList}">
    <td th:text ="${follower.name}"></td>
    <img th:src ="${follower.picture}"></img>
</tr>

</body>
</html>