<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        header {
            border: 1px solid black;
            text-align: center;
            margin-bottom: 10px;
            padding: 5px;
        }

        html, body {
            height: 100%;
        }

        section {
            border: 1px solid black;
            padding: 5px;
            height: 80%;
        }
        footer {
            margin-top: 10px;
            padding: 5px;
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
<header> 신작
    <button onclick="location.href='/'"> 로그아웃</button>
</header>
<section>
    <div th:id="userListDiv">

    </div>

</section>


<footer>
    <button th:id="homeButton"> 홈</button>
    <button th:id="marketButton"> 마켓</button>
    <button th:id="workButton"> 외주</button>
    <button th:id="chatButton"> 채팅</button>
    <button th:id="profileButton" th:onclick="'location.href=\' '+@{|/users/${userId}/thymeleaf|}+'\''"> 프로필</button>
</footer>
<script th:inline="javascript">

</script>
<div>
    <button onclick="location.href='/userList'"> 회원 리스트</button>
    <button onclick="location.href='/productList'"> 작품 리스트</button>
    <button onclick="location.href='/workList'"> 외주 리스트</button>
</div>
<div>

    <button onclick="location.href='/products/build'"> 작품 글 생성</button>
    <button onclick="location.href='/works/build'"> 외주 글 생성</button>
</div>
</body>
</html>