<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<body>
<div class="container">

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>작성자</th>
                <th>작품명</th>
                <th>설명</th>
                <th>카테고리</th>
                <th>대학교</th>
                <th>가격</th>
                <th>가격제안여부</th>
                <th>분야</th>
                <th>사이즈</th>
                <th>사진</th>
                <th>조회수</th>
                <th>찜개수</th>
                <th>채팅수</th>
                <th>거래완료여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.getAuthor}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.content}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.univ}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.suggest}"></td>
                <td th:text="${product.field}"></td>
                <td th:text="${product.size}"></td>
                <td th:text="${product.photo}"></td>
                <td th:text="${product.views}"></td>
                <td th:text="${product.wishCnt}"></td>
                <td th:text="${product.chatCnt}"></td>
                <td th:text="${product.complete}"></td>
                <td><button th:value="${product.id}" type="button" id="wish1" name="wish1" class="btn btn-default"> 찜 </button></td>
                <td><button th:value="${product.id}" type="button" id="wish2" name="wish2" class="btn btn-default">찜취소</button></td>
            </tr>
            </tbody>
        </table>
    </div>



</div> <!-- /container -->

</body>
<script>

    $('#wish1').on('click', function(){
        var jsonData = { // Body에 첨부할 json 데이터
            "mode" : true,
            "id" : $('#id').val()
        };
        $.ajax({
            url: "products/wish",
            type: "POST",
            async: true,
            contentType: "application/json; charset=UTF-8",
            dataType : JSON,
            data: JSON.stringify(jsonData),
            success: function() {
                location.reload();
            }, error: function() {
                alert('실패');
            }
        });
    });


    $('#wish2').click(function() {
        var jsonData = { // Body에 첨부할 json 데이터
                "mode" : false,
                "id" : $('#id').val()
        };
        $.ajax({
            type: "POST",
            url: "/products/wish",
            contentType: "application/json; charset=UTF-8",
            dataType : JSON,
            data: JSON.stringify(jsonData),
            success: function() {
                location.reload();
            }, error: function() {
                alert('실패');
            }
        });
    });
</script>
</html>
