<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head/>
<body>

<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>이메일</th>
                <th>생성시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.createdDate}"></td>
            </tr>
            </tbody>
        </table>

</div> <!-- /container -->

</body>
</html>
