<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">

    <form th:action="@{/works/build}" th:object="${work}" method="post">
        <div class="form-group">
            <label th:for="title">작품명</label>
            <input type="text" th:field="*{title}">
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <input type="text" th:field="*{content}">
        </div>
        <div class="form-group">
            <label th:for="category">카테고리</label>
            <input type="text" th:field="*{category}">
        </div>
        <div class="form-group">
            <label th:for="pay">가격</label>
            <input type="text" th:field="*{pay}">
        </div>
        <div class="form-group">
            <label th:for="field">분야</label>
            <input type="text" th:field="*{field}">
        </div>
        <div class="form-group">
            <label th:for="photo">사진</label>
            <input type="text" th:field="*{photo}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>

</div> <!-- /container -->


</body>
</html>
